header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49,52, 0.9);
  position: fixed;
  top: 0;
  Z-index: 10;
}

.header-left {
  float: left;
  padding: 15px 15px;
  color: white;
  font-size: 30px;
}

.header-right {
  float: right;
  margin-right: 25px;
  
}

.header-right a {
  color: white;
  line-height: 65px;
  padding: 0 25px;
  display: block;
  float: left;
  transition: all 0.5s;
}

.top-wrapper {
  padding: 180px 0 180px o;
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
}